.services {
    width: 100%;
    background: transparent;
    color: #fff;
}

.servicesContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    /* responsive */
}

.textContainer h3 {
    font-size: 1rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #75e2d5;
    margin-bottom: 1rem;
}

.textContainer h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    line-height: 1.1;
}

.textContainer h1 span {
    color: #75e2d5;
}

.textContainer hr {
    width: 150px;
    height: 4px;
    background-color: #0ab092;
    border: none;
    margin: 20px 0;
    border-radius: 2px;
}

.textContainer p {
    max-width: 660px;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.viewbtn {
    background-color: #0ab092;
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.viewbtn:hover {
    background-color: #06785c;
}

.servicesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 1.5rem;
    flex: 1;
}

.serviceCard {
    background: black;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.serviceCard h4 {
    padding-bottom: 10px;
    font-family: 'Lucida Sans', sans-serif;
    font-weight: bold;

}

.serviceCard p {
    font-size: smaller;
    font-family: 'Lucida Sans', sans-serif;
}

.serviceCard img.icon {
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
}

.icon {
    font-size: 100px;
    color: #75e2d5;
    margin-bottom: 1rem;
}