.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  padding: 4rem 2rem;
  color: #fff;
}

.textContainer {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.textContainer h3 {
  font-size: 1rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #75e2d5;
  margin-bottom: 1rem;

}

.textContainer h1 span {
  color: #75e2d5;

}


.textContainer hr {
  width: 150px;
  height: 4px;
  background-color: #0ab092;
  border: none;
  margin: 20px 0;
  border-radius: 2px;
}


.textContainer p {
  font-size: 1.0rem;
  line-height: 1.6;
  margin: 0;
  margin-top: 10px;
}

.imageContainer {
  flex-shrink: 0;
  position: relative;
}

.imageContainer img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 40px 30px 40px -10px rgba(138, 220, 159, 0.47);
  transition: filter 0.4s ease, transform 0.4s ease;
  filter: blur(1px) brightness(0.75);
}