.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    background-color:#00101d;
    z-index: 100;
    
}

.content {
    max-width:1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #75e2d5;
}

.links {
    display: flex;
    gap: 20px;
}

.link {
    color: #75e2d5;
    text-decoration: none;
    transition: color 0.3s;
}

.link:hover {
    color: #043b35;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    cursor: pointer;
    color: #75e2d5;
}