@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  /*background-color: #00101d;*/
  background-color: darkolivegreen;
  /*background-image: url('/src/assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;*/
  color: #fff;
}

/* is not used to delete or fix */
 /* #app-container {
  width: 100vh;
  min-height: calc(100vh - 100px);
  position: relative;
  padding-bottom: 0;
}  */

#scroll {

  padding-top: 150px;
}